.display-none {
  display: none;
}
.greedy-nav {
  img {
    border: 1px solid #f2f3f3;
  }
  a {
    padding-bottom: 4px;
  }
}

ul.no-style {
  list-style-type: none;
}

.page-full {
  width: calc(100% - 250px);
  margin-top: 1em;
}
